.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-item input {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-item button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.todo-item button:hover {
    background-color: #45a049;
}

.add-todo-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.add-todo-container h1 {
    margin-bottom: 10px;
}

.add-todo-container input,
.add-todo-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-todo-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.add-todo-container button:hover {
    background-color: #45a049;
}

.edit-todo-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.edit-todo-container h1 {
    margin-bottom: 10px;
}

.edit-todo-container form {
    margin-bottom: 10px;
}

.edit-todo-container label {
    display: block;
    margin-bottom: 10px;
}

.edit-todo-container input,
.edit-todo-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-todo-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.edit-todo-container button:hover {
    background-color: #45a049;
}